<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyFinCassa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyFinRestaurantWaiterApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MyFinCassa.Properties.Settings>
      <setting name="user_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="change_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="user_type" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="discount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mycassa_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="guest_count" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="column_cards" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="last_entry" serializeAs="String">
        <value>01.10.2024 00:00:00</value>
      </setting>
      <setting name="SettingsUpgraded" serializeAs="String">
        <value>False</value>
      </setting>
    </MyFinCassa.Properties.Settings>
    <MyFinRestaurantWaiterApplication.Properties.Settings>
      <setting name="user_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="change_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="user_type" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="discount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mycassa_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="guest_count" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="column_cards" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="last_entry" serializeAs="String">
        <value>01.10.2024 00:00:00</value>
      </setting>
    </MyFinRestaurantWaiterApplication.Properties.Settings>
  </userSettings>
</configuration>